<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HTTPF</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
<div class="container-fluid mt-3">

    <div class="row">
        {{- range $entry := . }}
            <a class="col-12 text-decoration-none text-dark" href="./{{ $entry.Name | html }}{{ if $entry.IsDir }}/{{ end }}">
                <div class="card mb-3">
                    <div class="row align-items-center g-0">
                        <div class="col-md-2 text-center">
                            {{- if $entry.Image }}
                                <img src="{{ $entry.Image }}" class="img-fluid rounded" alt="">
                            {{- else if $entry.Icon }}
                                <i class="{{ .Icon }} fa-3x"></i>
                            {{- else }}
                                <i class="fas fa-question fa-3x"></i>
                            {{- end }}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ $entry.Name }}</h5>
                                <p class="card-text"><small class="text-muted">{{ $entry.Size }} - {{ $entry.Time.Format "02/01/2006 15:04:05" }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {{- end }}
    </div>
</div>
</body>
</html>